
/* Some text mark-up is below */

.product-growth-main-title {
  font-family: MiloWeb-Medium,sans-serif;
  font-size: 40px;
  line-height: 48px;
  color: #03566a;
  font-weight: 600;
  display: block;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 5px;

}

.product-growth-main-text{
  padding: 20px 0 40px;
  text-align: center;
  color: #03566a;
  font-size: 19px;
  line-height: 28px;
  font-family: Miloweb, sans-serif;
}

.head-text {
  width: 100%;
}

.filler-100px{
  height: 100px;
}